body {
    background-color: rgb(30, 255, 236);
    font-family: Tahoma;

}

div {
    border: solid 3px black;
    width: 100px;
    height: 100px;
    background-color: deeppink;
    margin-left: 200px;
    margin-bottom: 50px;
    align-items: center;
    line-height: 100px;
    text-align: center;
}

.citron {
    background-color: yellow;
}

.velky {
    width: 200px;
    height: 200px;
    line-height: 200px;
}

.popisek {
    width: auto;
    height: auto;
    margin-left: auto;
    padding-left: 0;
}