body {
    background-color: lightblue;
    font-family: Tahoma;
}

h1 {
    color: darkgreen;
    text-align: center;
}

li {
    font-size: 20px;
}

ul li {
    font-weight: bold;
}

.darkorange { 
    color: darkorange;
}

#boj {
    color: red;
}

p {
    width: 66%;
    font-size: 18px;
}

p a {
    color: navy;
}