
body {
    background-color: lightgray; 
    line-height: 1.6; 
    padding: 20px;
    color: black;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}


h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}


ul, ol {
    margin-bottom: 20px;
}


a {
    color: blue;
    text-decoration: underline;
}


.team-logo {
    max-width: 300px; 
    display: block;
    margin-top: 10px;
    background-color: white; 
}