body {
    margin: 0;
    background: #262626;
    color: #dedede;
    font-family: Verdana, sans-serif;
}

nav ul {
    margin: 0;
    background: maroon;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    color: #dedede;
    font-size: 18px;
    font-weight: 900;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transition: opacity 0.3s ease;
    opacity: 0.5;
}

nav ul li:hover a {
    opacity: 1;   
}