body 
{ 
font-family: arial, helvetica, verdana, sans serif; 
font-size:12px;
background: #4b0082;
 
} 

a:link 
{ 
color: blue; 
background: white;
text-decoration:underline;
Font-family: arial, helvetica, verdana, sans serif;
font-size:12px;

} 


p 
{ 
text-indent: 15%; 

} 

p.margins 
{ 
margin-left: 20%; 
margin-right: 20%;
Font-family: arial, helvetica, verdana, sans serif;
Font-size: 12px

} 

h1
{
font-weight: normal;
font-Size: 20px; 
color: #000000; 
font-family: arial; 
text-align: center;

}



